@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("./fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Roboto-Regular.woff") format("woff"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?90167141");
  src: url("../fonts/fontello.eot?90167141#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?90167141") format("woff2"), url("../fonts/fontello.woff?90167141") format("woff"), url("../fonts/fontello.ttf?90167141") format("truetype"), url("../fonts/fontello.svg?90167141#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contain {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto';
  font-size: 14px;
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 63px;
  position: relative;
  font-size: 2em;
  padding-bottom: 25px;
  margin-bottom: 40px;
  color: #464646;
}

.titles::after {
  position: absolute;
  content: '';
  width: 380px;
  height: 2px;
  bottom: 0;
  background: #19b5fe;
}

@media screen and (max-width: 1199px) and (min-width: 0) {
  .contain {
    width: 90%;
  }
}

@media screen and (max-width: 600px) and (min-width: 0) {
  .titles {
    font-size: 1.7em;
  }
}

.header {
  position: relative;
  background: url("../img/background.png");
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  height: auto;
  padding: 0 0 25px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.nav__logo {
  font-size: 28px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo-txt {
  margin-left: 12px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-cell_txt {
  font-size: 12px;
  margin-left: 12px;
  margin-right: 61px;
}

.nav__menu-cell_txt a {
  font-size: 21px;
  color: #ffffff;
}

.nav__menu-burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-burger_span {
  position: absolute;
  width: 46px;
  height: 3px;
  background: #ffffff;
}

.nav__menu-burger_span::before, .nav__menu-burger_span::after {
  position: absolute;
  content: '';
  width: 46px;
  height: 3px;
  background: #ffffff;
}

.nav__menu-burger_span::after {
  top: 0;
  margin-top: -8px;
}

.nav__menu-burger_span::before {
  bottom: 0;
  margin-bottom: -8px;
}

.nav__menu-burger p {
  position: relative;
  margin-top: 19px;
  text-transform: uppercase;
  font-size: 12px;
}

@media screen and (max-width: 576px) and (min-width: 0) {
  .nav__menu-cell {
    display: none;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  text-align: center;
  min-height: 80vh;
  padding: 0 0 25px 0;
}

.hero__title {
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: bold;
}

.hero__title span {
  font-size: 0.9em;
}

.hero__description {
  margin: 46px 0;
  font-size: 22px;
  font-weight: 300;
}

.hero__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__form::before, .hero__form::after {
  position: absolute;
  content: '';
  height: 80%;
  width: 1px;
  top: 0;
  background: #ffffff;
}

.hero__form::before {
  left: 0;
}

.hero__form::after {
  right: 0;
}

.hero__form-inputs {
  margin-bottom: 23px;
  position: relative;
  top: -20px;
  padding: 0 34px;
}

.hero__form-inputs::before, .hero__form-inputs::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 2%;
  top: 20px;
  background: #ffffff;
}

.hero__form-inputs::before {
  left: 0;
}

.hero__form-inputs::after {
  right: 0;
}

.hero__form-inputs input {
  width: 240px;
  padding: 21px 28px;
  font-size: 14px;
  color: #black;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-right: 9px;
  z-index: 5;
}

.hero__form-inputs input placeholder {
  color: #7c7c7c;
}

.hero__form-btn {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__form-btn::before, .hero__form-btn::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 35%;
  top: 32px;
  background: #ffffff;
}

.hero__form-btn::before {
  left: 0;
}

.hero__form-btn::after {
  right: 0;
}

.hero__form button {
  width: 235px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #19b5fe;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.hero__confidicial {
  color: #ffffff;
  margin-top: 23px;
}

.hero__mouse {
  position: absolute;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (max-width: 920px) and (min-width: 835px) {
  .hero__form::before, .hero__form::after {
    display: none;
  }
  .hero__form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: rows;
            flex-direction: rows;
    margin-bottom: 0;
    top: 0;
  }
  .hero__form-inputs::before, .hero__form-inputs::after {
    display: none;
  }
  .hero__form-inputs input {
    margin-bottom: 15px;
  }
  .hero__form-btn::before, .hero__form-btn::after {
    display: none;
  }
  .hero__mouse {
    display: none;
  }
}

@media screen and (max-width: 835px) and (min-width: 500px) {
  .hero__title {
    margin-top: 25px;
    font-size: 2.5em;
  }
  .hero__form {
    width: 100%;
  }
  .hero__form::before, .hero__form::after {
    display: none;
  }
  .hero__form-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    top: 0;
    width: 80%;
  }
  .hero__form-inputs::before, .hero__form-inputs::after {
    display: none;
  }
  .hero__form-inputs input {
    margin-bottom: 15px;
    margin-right: 0;
    width: 100%;
  }
  .hero__form-btn::before, .hero__form-btn::after {
    display: none;
  }
  .hero__mouse {
    display: none;
  }
}

@media screen and (max-width: 547px) and (min-width: 0) {
  .hero__title {
    font-size: 2em;
  }
  .hero__description {
    font-size: 1.3em;
    margin: 25px 0;
  }
  .hero__form {
    width: 100%;
  }
  .hero__form::before, .hero__form::after {
    display: none;
  }
  .hero__form-inputs {
    display: none;
  }
  .hero__form-btn::before, .hero__form-btn::after {
    display: none;
  }
  .hero__form button {
    width: 100%;
  }
  .hero__mouse {
    display: none;
  }
}

@media screen and (max-width: 390px) and (min-width: 0) {
  .hero__description {
    font-size: 1.3em;
    margin: 25px 0;
  }
}

.services {
  position: relative;
}

.services__block {
  width: 100%;
}

.services__block-title {
  font-size: 1.7em;
  color: #19b5fe;
}

.services__block-txt {
  font-size: 18px;
  padding: 25px 0;
  line-height: 24px;
  color: #464646;
  max-width: 556px;
  width: 100%;
}

.services__block-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #19b5fe;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  max-width: 182px;
  width: 100%;
  height: 53px;
  opacity: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.services__block-item {
  width: 48%;
}

.services__block-img {
  width: 50%;
}

.services__block-img img {
  width: 100%;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.services__item:hover .services__block-link {
  opacity: 1;
}

@media screen and (max-width: 1110px) and (min-width: 890px) {
  .services__block-item {
    width: 48%;
  }
}

@media screen and (max-width: 889px) and (min-width: 0) {
  .services__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .services__block-item {
    width: 80%;
    position: relative;
    z-index: 4;
    margin-top: 250px;
    background: #fff;
    padding: 15px 10px;
    -webkit-box-shadow: 2px 2px 5px 0 #bebebe;
            box-shadow: 2px 2px 5px 0 #bebebe;
  }
  .services__block-img {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 400px;
  }
  .services__block-link {
    position: absolute;
    opacity: 1;
    bottom: -25px;
    max-width: 100%;
    left: 0;
    border-radius: 0;
  }
  .services__item {
    width: 80%;
    position: relative;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 690px) and (min-width: 0) {
  .services__block-item {
    width: 90%;
    margin-top: 130px;
  }
  .services__item {
    width: 100%;
  }
}

@media screen and (max-width: 349px) and (min-width: 0) {
  .services__block-item {
    margin-top: 100px;
  }
}

.calc {
  color: #ffff;
  position: relative;
  padding-bottom: 60px;
}

.calc-section {
  background: url(../img/bg_calc.png);
  background-size: cover;
  background-position: center;
}

.calc__description {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  margin-bottom: 44px;
  display: inline-block;
}

.calc__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__block-item {
  width: 55%;
}

.calc__block-result {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__block-result p {
  font-size: 1.2em;
  font-weight: 400;
}

.calc__block-result span {
  font-size: 2.1em;
  margin: 20px 0;
}

.calc__block-result a {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
}

.calc-btn {
  margin-bottom: 26px;
}

.calc-btn button {
  width: 323px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #19b5fe;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.calc__btns {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.calc__btns span {
  font-size: 1.5em;
}

.calc__btns-item {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc__btns-item button {
  width: 195px;
  height: 48px;
  outline: none;
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.calc__btns-item button:hover {
  background: #19b5fe;
  border-color: #19b5fe;
}

.range__slider {
  margin-top: 15px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #959a99;
  position: relative;
  z-index: 5;
}

.range__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #19b5fe;
  border-radius: 15px;
  position: relative;
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border: 1px solid #19b5fe;
  position: relative;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 24px;
  width: 87%;
}

.portfolio__link-item {
  color: #19b5fe;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.portfolio__link-item:nth-child(4) {
  width: 40%;
}

.portfolio__link-item:hover {
  background: #19b5fe;
  color: #ffffff;
  border-radius: 3px;
}

.portfolio__link-item::before {
  position: absolute;
  content: '';
  width: 1px;
  background: #19b5fe;
  height: 90%;
  top: 5%;
  right: 0;
}

.portfolio__link-item:nth-child(4)::before {
  display: none;
}

.portfolio__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  -ms-flex-line-pack: start;
      align-content: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__gallery-item {
  margin-bottom: 30px;
  width: 30%;
}

.portfolio__gallery-item img {
  width: 100%;
}

.hide {
  display: none;
}

@media screen and (max-width: 1000px) and (min-width: 0) {
  .portfolio__link {
    width: 100%;
  }
  .portfolio__gallery-item {
    width: 48%;
  }
}

@media screen and (max-width: 780px) and (min-width: 0) {
  .portfolio__link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio__link-item {
    width: 50%;
  }
  .portfolio__link-item::after {
    position: absolute;
    content: '';
    width: 100%;
    background: #19b5fe;
    height: 1px;
    bottom: 0;
    right: 0;
  }
  .portfolio__link-item:nth-child(4) {
    width: 50%;
  }
  .portfolio__link-item:nth-child(4)::after {
    display: none;
  }
  .portfolio__link-item:nth-child(3)::after {
    display: none;
  }
}

@media screen and (max-width: 528px) and (min-width: 0) {
  .portfolio__link {
    display: none;
  }
  .portfolio__gallery {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__gallery-item {
    width: 80%;
  }
}

.process {
  position: relative;
}

@media screen and (max-width: 766px) and (min-width: 0px) {
  .process-section {
    display: none;
  }
}

.best-section {
  position: relative;
  background: #f5f9fa;
}

.best__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.best__block-item {
  max-width: 262px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 20px;
  color: #3f3f3f;
  margin-bottom: 60px;
  margin-right: 30px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.best__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 15px;
}

.best__block-img::after {
  position: absolute;
  content: '';
  width: 129px;
  height: 1px;
  background: #19b5fe;
  bottom: 0;
}

.process__title {
  color: #464646;
  text-align: center;
}

.company {
  position: relative;
  padding-bottom: 70px;
}

.company-section {
  background: #f5f9fa;
}

.company__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: start;
}

.company__item {
  width: 20%;
}

@media screen and (max-width: 766px) and (min-width: 0px) {
  .company-section {
    display: none;
  }
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px 0;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #464646;
  margin-bottom: 55px;
  width: 33%;
}

.team__item-title {
  font-size: 24px;
  color: #19b5fe;
  padding: 20px 0;
  text-align: center;
  display: inline-block;
}

.team__quote {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #464646;
  font-size: 18px;
  line-height: 20px;
  max-width: 945px;
  width: 100%;
  text-align: center;
  margin-bottom: 72px;
}

.team__quote::before {
  position: absolute;
  content: '‟';
  font-size: 100px;
  font-weight: bold;
  left: 0;
  top: -25px;
  color: #19b5fe;
}

.team__quote::after {
  position: absolute;
  content: '‟';
  font-size: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-weight: bold;
  right: 0;
  bottom: -25px;
  color: #19b5fe;
}

.team__quote-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  line-height: 40px;
}

.team__quote-name {
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 20px;
}

.team__quote-position {
  font-size: 16px;
}

@media screen and (max-width: 800px) and (min-width: 530px) {
  .team__item {
    width: 50%;
  }
}

@media screen and (max-width: 529px) and (min-width: 0) {
  .team__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__item {
    width: 100%;
  }
  .team__quote-title {
    font-size: 1.8em;
  }
}

.blog-section {
  position: relative;
  background: #f5f9fa;
}

.blog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 68px;
}

.blog__item {
  text-align: center;
  width: 48%;
}

.blog__item-img {
  margin-bottom: 38px;
}

.blog__item-img img {
  width: 100%;
}

.blog__item-link {
  font-size: 16px;
  color: #19b5fe;
  line-height: 20px;
}

.blog__item-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 650px) and (min-width: 0) {
  .blog__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__item {
    width: 100%;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 5px 0 #bebebe;
            box-shadow: 0 0 5px 0 #bebebe;
    padding: 15px 0;
  }
}

.question {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-section {
  position: relative;
  background: url(../img/question_bg.png);
  background-size: cover;
  background-position: center center;
}

.question__title {
  color: #fff;
}

.question__title::after {
  background: #fff;
}

.question-description {
  font-size: 1.7em;
  margin-bottom: 50px;
  text-align: center;
}

.question__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.question__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.question__btn button {
  width: 235px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #19b5fe;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
}

.question__form {
  width: 70%;
}

.question__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.question__form-input input {
  width: 30%;
  height: 50px;
  padding: 15px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.question__form textarea {
  margin: 15px 0;
  padding: 15px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
}

.question__contact {
  margin-left: 30px;
  position: relative;
  line-height: 24px;
}

.question__contact-phone::after {
  content: '\e800';
}

.question__contact-whatsapp::after {
  content: '\F232';
}

.question__contact-mail::after {
  content: '\E801';
}

.question__contact-skype::after {
  content: '\F17E';
}

.question__contact-telegram::after {
  content: '\F2C6';
}

.question__contact-txt {
  font-size: 16px;
}

.question__item {
  position: relative;
  font-size: 18px;
  margin-bottom: 28px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
}

.question__item::after {
  position: absolute;
  font-family: 'fontello';
  left: 0;
  height: 28px;
  width: 28px;
  top: 0;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 927px) and (min-width: 600px) {
  .question__form {
    width: 60%;
  }
  .question__form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question__form-input input {
    width: 100%;
    margin-bottom: 15px;
  }
  .question__form textarea {
    margin-top: 0;
  }
}

@media screen and (max-width: 599px) and (min-width: 0) {
  .question__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question-description {
    font-size: 1.5em;
  }
  .question__form {
    width: 100%;
  }
  .question__form-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question__form-input input {
    width: 100%;
    margin-bottom: 15px;
  }
  .question__form textarea {
    margin-top: 0;
  }
  .question__contact {
    display: none;
  }
}

.map {
  position: relative;
  margin: 0;
  padding: 0;
  height: 60vh;
}

.map iframe {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  padding-top: 43px;
  color: #91918f;
  position: relative;
}

.footer__section {
  background: #24241f;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #91918f;
}

.footer__item-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  width: 30%;
  color: #91918f;
  margin-bottom: 20px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social-link {
  width: 30px;
  height: 30px;
  position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7px;
}

.footer__social-link::after {
  position: absolute;
  font-family: 'fontello';
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
}

.footer__sertification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.footer__god a {
  color: #91918f;
}

.facebook::after {
  content: '\f30c';
}

.instagram::after {
  content: '\f30f';
}

.google::after {
  content: '\f32d';
}

@media screen and (max-width: 610px) and (min-width: 0) {
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__link {
    width: 100%;
  }
  .footer__sertification {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__god {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */