.hero
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: #ffffff
    text-align: center
    min-height: 80vh
    padding: 0 0 25px 0
    &__title
        font-size: 3em
        display: flex
        flex-direction: column
        text-align: center
        font-weight: bold
        span
            font-size: 0.9em
    &__description
        margin: 46px 0
        font-size: 22px
        font-weight: 300
    &__form
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        position: relative
        &::before, &::after
            position: absolute
            content: ''
            height: 80%
            width: 1px
            top: 0
            background: #ffffff
        &::before
            left: 0
        &::after
            right: 0
        &-inputs
            margin-bottom: 23px
            position: relative
            top: -20px
            padding: 0 34px
            &::before, &::after
                position: absolute
                content: ''
                height: 1px
                width: 2%
                top: 20px
                background: #ffffff
            &::before
                left: 0
            &::after
                right: 0
            input
                width: 240px
                padding: 21px 28px
                font-size: 14px
                color: #black
                border-radius: 50px
                border: none
                outline: none
                margin-right: 9px
                z-index: 5
                placeholder
                    color: #7c7c7c
        &-btn
            position: relative
            width: 100%
            display: flex
            justify-content: center
            &::before, &::after
                position: absolute
                content: ''
                height: 1px
                width: 35%
                top: 32px
                background: #ffffff
            &::before
                left: 0
            &::after
                right: 0
        button
            width: 235px
            height: 60px
            display: flex
            align-items: center
            justify-content: center
            background: #19b5fe
            border-radius: 50px
            outline: none
            border: none
            color: #ffffff
            font-size: 16px
            
    &__confidicial
        color: #ffffff
        margin-top: 23px
    &__mouse
        position: absolute
        bottom: 15px
        display: flex
        align-items: center
        justify-content: center
        left: 50%
        transform: translate(-50%, 0)
@media screen and ( max-width: 920px ) and (min-width: 835px)
    .hero
        &__form
            &::before, &::after
                display: none
            &-inputs
                display: flex
                flex-direction: rows
                margin-bottom: 0
                top: 0
                &::before, &::after
                    display: none
                input
                    margin-bottom: 15px
            &-btn
                &::before, &::after
                    display: none
        &__mouse
            display: none

@media screen and ( max-width: 835px ) and (min-width: 500px)
    .hero
        &__title
            margin-top: 25px
            font-size: 2.5em
        &__form
            width: 100%
            &::before, &::after
                display: none
            &-inputs
                display: flex
                flex-direction: column
                margin-bottom: 0
                top: 0
                width: 80%
                &::before, &::after
                    display: none
                input
                    margin-bottom: 15px
                    margin-right: 0
                    width: 100%
            &-btn
                &::before, &::after
                    display: none
        &__mouse
            display: none
@media screen and ( max-width: 547px ) and (min-width: 0)
    .hero
        &__title
            font-size: 2em
        &__description
            font-size: 1.3em
            margin: 25px 0
        &__form
            width: 100%
            &::before, &::after
                display: none
            &-inputs
                display: none
            &-btn
                &::before, &::after
                    display: none
            button
                width: 100%
        &__mouse
            display: none

@media screen and ( max-width: 390px ) and (min-width: 0)
    .hero
        &__description
            font-size: 1.3em
            margin: 25px 0