.portfolio
    &__link
        display: flex
        justify-content: center
        text-transform: uppercase
        border: 1px solid #19b5fe
        position: relative
        margin: 0 auto
        border-radius: 50px
        overflow: hidden
        margin-bottom: 24px
        width: 87%
        &-item
            color: #19b5fe
            padding: 0 30px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            height: 50px
            position: relative
            transition: 0.3s all
            &:hover
                background: #19b5fe
                color: #ffffff
                border-radius: 3px
            &::before
                position: absolute
                content: ''
                width: 1px
                background: #19b5fe
                height: 90%
                top: 5%
                right: 0
            &:nth-child(4)
                &::before
                    display: none
    &__gallery
        display: flex
        flex-wrap: wrap 
        margin-bottom: 20px
        align-content: start
        &-item
            margin-bottom: 30px
            width: 33%
                
.hide
    display: none